.leftbox{
	height:100vh;
	overflow-y: scroll;
}

.rightbox{
   
	background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
	height:100vh;
}

 .bill img{
	height: 100px;
    width: 100px;
	border-radius:50%;
	margin-top:20px;
}

.top{
	margin-top:50px;
	margin-left:50px;
}

.top {
	display:inline;
	margin-left:10px;

}

.two img{
	height: 30px;
    width: 30px;
	margin-left:350px;
}


.rightbox{
	height:100vh;
	overflow-y: scroll;
}


.chathead{
	height:8vh;
	background-color:#18FFFF;
	position:fixed;
	-webkit-box-shadow: -1px 13px 5px -6px rgba(0,0,0,0.75);
}

.chatheadimg img{
	height:40px;
    width: 40px;
	border-radius:50%;
	margin-top:8px;
}

.zucker h3{
	font-size:15px;
	margin-top:10px;
	margin-left:-45px;
}

.mut{
	margin-top:-10px;
	font-size:12px;
	margin-left:-45px;
}

.calls img{
	height:35px;
    width: 35px;
	margin-top:10px;
	margin-left:-20px;
}

.vids img{
	height:35px;
    width: 35px;
	margin-top:10px;
	margin-left:-30px;
}


.chatl{
	height:8vh;
	background-color:#E1BEE7;
	margin-top:20px;
	width:50%;
	-webkit-box-shadow: -1px 13px 5px -6px rgba(0,0,0,0.75);
}

.chatr{
	height:8vh;
	background-color:#E1BEE7;
	margin-top:30px;
	width:50%;
	float:right;
	-webkit-box-shadow: -1px 13px 5px -6px rgba(0,0,0,0.75);
}

.r1 h4{
	margin-left:10px;
	font-size:20px;
}

.r1 p{
	margin-left:10px;
	margin-top:-11px;
}

.fixed{
	
	margin-top:50px;
	margin-bottom:0px;
	position: absolute;
}




.unread{
	background-color:#FFF176;
}


@media only screen and (max-width: 1080px) {
    .zucker h3 {
    margin-left:10px;
	}
	
	.mut{
		 margin-left:10px;
	}
		
}


@media only screen and (max-width: 1125px) {
	.top{
		margin-left:30px;
	}
}

@media only screen and (max-width: 412px){
	.top{
		margin-left:50px;
	}
}

@media only screen and (max-width: 360px) and (min-width:320px){
	.top{
		margin-left:60px;
	}
}


@media only screen  and (min-width:320px){
	.top{
		margin-left:53px;
		
		}

    
}









